 .u-section-1 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/photo_2023-04-15_17-10-15.jpg");
   background-position: 50% 50%;
 }

 .u-section-1 .u-sheet-1 {
   min-height: 704px;
 }

 .u-section-1 .u-layout-wrap-1 {
   width: 219px;
   margin: 458px auto 60px;
 }

 .u-section-1 .u-layout-cell-1 {
   min-height: 74px;
   --animation-custom_in-translate_x: 300px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 0.3;
 }

 .u-section-1 .u-container-layout-1 {
   padding: 10px;
 }

 .u-section-1 .u-btn-1 {
   border-style: solid;
   background-image: none;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 0.875rem;
   box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 1);
   margin: 0 auto 0 0;
   padding: 10px 40px;
 }

 @media (max-width: 1199px) {
   .u-section-1 .u-sheet-1 {
     min-height: 580px;
   }
 }

 @media (max-width: 991px) {
   .u-section-1 .u-sheet-1 {
     min-height: 577px;
   }

   .u-section-1 .u-layout-wrap-1 {
     margin-top: 393px;
   }

   .u-section-1 .u-layout-cell-1 {
     min-height: 100px;
   }
 }

 @media (max-width: 767px) {
   .u-section-1 .u-sheet-1 {
     min-height: 449px;
   }

   .u-section-1 .u-layout-wrap-1 {
     margin-top: 284px;
   }
 }

 @media (max-width: 575px) {
   .u-section-1 .u-sheet-1 {
     min-height: 306px;
   }

   .u-section-1 .u-layout-wrap-1 {
     margin-top: 223px;
     margin-bottom: 0;
   }

   .u-section-1 .u-container-layout-1 {
     padding-top: 0;
   }
 }

 .u-section-2 {
   background-image: none;
 }

 .u-section-2 .u-sheet-1 {
   min-height: 1249px;
 }

 .u-section-2 .u-text-1 {
   margin: 60px auto 0;
 }

 .u-section-2 .u-gallery-1 {
   height: 709px;
   margin-top: 82px;
   margin-bottom: 0;
   grid-gap: 17px 17px;
 }

 .u-section-2 .u-gallery-inner-1 {
   grid-template-columns: repeat(3, auto);
   grid-gap: 17px;
 }

 .u-section-2 .u-over-slide-1 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-2 .u-over-slide-2 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-2 .u-over-slide-3 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-2 .u-over-slide-4 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-2 .u-over-slide-5 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-2 .u-over-slide-6 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-2 .u-btn-1 {
   border-style: solid;
   background-image: none;
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: 1px;
   font-size: 0.875rem;
   margin: 30px auto 60px;
   padding: 10px 31px 10px 30px;
 }

 @media (max-width: 1199px) {
   .u-section-2 .u-sheet-1 {
     min-height: 1124px;
   }

   .u-section-2 .u-gallery-1 {
     height: 621px;
   }
 }

 @media (max-width: 991px) {
   .u-section-2 .u-sheet-1 {
     min-height: 1564px;
   }

   .u-section-2 .u-gallery-1 {
     height: 1088px;
   }

   .u-section-2 .u-gallery-inner-1 {
     grid-template-columns: repeat(2, auto);
   }
 }

 @media (max-width: 767px) {
   .u-section-2 .u-sheet-1 {
     min-height: 3812px;
   }

   .u-section-2 .u-gallery-1 {
     height: 3323px;
     margin-top: -2px;
   }

   .u-section-2 .u-gallery-inner-1 {
     grid-template-columns: repeat(1, auto);
   }

   .u-section-2 .u-btn-1 {
     margin-top: 114px;
   }
 }

 @media (max-width: 575px) {
   .u-section-2 .u-sheet-1 {
     min-height: 2504px;
   }

   .u-section-2 .u-gallery-1 {
     height: 2124px;
     margin-top: 30px;
   }

   .u-section-2 .u-btn-1 {
     margin-top: 60px;
     margin-bottom: 28px;
   }
 }

 .u-section-3 {
   background-image: none;
 }

 .u-section-3 .u-sheet-1 {
   min-height: 910px;
 }

 .u-section-3 .u-layout-wrap-1 {
   width: 1140px;
   margin: 70px 0 0;
 }

 .u-section-3 .u-layout-cell-1 {
   min-height: 400px;
 }

 .u-section-3 .u-container-layout-1 {
   padding: 20px;
 }

 .u-section-3 .u-video-1 {
   box-shadow: 2px 2px 8px 0px rgba(204, 211, 219, 1);
 }

 .u-section-3 .embed-responsive-1 {
   position: absolute;
   width: 178%;
   left: -39%;
   height: 178%;
   top: -39%;
 }

 .u-section-3 .u-layout-cell-2 {
   min-height: 400px;
 }

 .u-section-3 .u-container-layout-2 {
   padding: 20px;
 }

 .u-section-3 .embed-responsive-2 {
   position: absolute;
   width: 178%;
   left: -39%;
   height: 178%;
   top: -39%;
 }

 .u-section-3 .u-layout-wrap-2 {
   margin-top: 50px;
   margin-bottom: 50px;
 }

 .u-section-3 .u-layout-cell-3 {
   min-height: 400px;
 }

 .u-section-3 .u-container-layout-3 {
   padding: 20px;
 }

 .u-section-3 .embed-responsive-3 {
   position: absolute;
   width: 178%;
   left: -39%;
   height: 178%;
   top: -39%;
 }

 .u-section-3 .u-layout-cell-4 {
   min-height: 400px;
 }

 .u-section-3 .u-container-layout-4 {
   padding: 20px;
 }

 .u-section-3 .embed-responsive-4 {
   position: absolute;
   width: 178%;
   left: -39%;
   height: 178%;
   top: -39%;
 }

 @media (max-width: 1199px) {
   .u-section-3 .u-sheet-1 {
     min-height: 770px;
   }

   .u-section-3 .u-layout-wrap-1 {
     width: 940px;
   }
 }

 @media (max-width: 991px) {
   .u-section-3 .u-sheet-1 {
     min-height: 616px;
   }

   .u-section-3 .u-layout-wrap-1 {
     width: 720px;
   }

   .u-section-3 .u-container-layout-1 {
     padding-left: 30px;
     padding-right: 30px;
   }

   .u-section-3 .u-container-layout-2 {
     padding-left: 30px;
     padding-right: 30px;
   }

   .u-section-3 .u-container-layout-3 {
     padding-left: 30px;
     padding-right: 30px;
   }

   .u-section-3 .u-container-layout-4 {
     padding-left: 30px;
     padding-right: 30px;
   }
 }

 @media (max-width: 767px) {
   .u-section-3 .u-sheet-1 {
     min-height: 1730px;
   }

   .u-section-3 .u-layout-wrap-1 {
     width: 540px;
   }

   .u-section-3 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-3 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-3 .u-layout-wrap-2 {
     margin-bottom: 60px;
   }

   .u-section-3 .u-container-layout-3 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-3 .u-container-layout-4 {
     padding-left: 10px;
     padding-right: 10px;
   }
 }

 @media (max-width: 575px) {
   .u-section-3 .u-sheet-1 {
     min-height: 1066px;
   }

   .u-section-3 .u-layout-wrap-1 {
     width: 340px;
   }
 }